body {
    font-family: 'Mulish', sans-serif;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: #458FF6;
    border-radius: 50px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #2b69bf;
}

.main-header {
    margin: 62px 0 0;
    max-width: 100%;
    position: sticky;
    top: -1px;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 1;
}

.header-container {
    width: 100%;
}

.left-side {
    width: 25%;
    text-align: center;
    display: inline-block;
    padding: 5px;
    vertical-align: middle;
}

.right-side {
    width: 68%;
    display: inline-block;
    text-align: right;
    padding: 5px;
}

.main-nav ul li {
    display: inline-block;
    margin-right: 40px;
    cursor: pointer;
    transition: all 0.15s;
}

.main-nav ul li:hover {
    color: rgba(0, 0, 0, 0.489);
    text-decoration: underline;
}

.main-nav .home {
    font-weight: 700;
}

.main-nav .about-us {
    margin-right: 0;
}

.virtual-healthcare-section {
    margin-top: 115px;
    padding: 10px;
    background-image: url('../images/background-1.svg');
    background-repeat: no-repeat;
    background-position: left top;
    margin-bottom: 192px;
}

.virtual-healthcare-section-main-container {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
}

.consult-main-container-left-side {
    max-width: 445px;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    margin-top: 140px;
}

.consult-main-heading {
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    max-width: 427px;
    width: 100%;
    margin-bottom: 25px;
}

.consult-paragraph {
    font-size: 21px;
    font-weight: 300;
    line-height: 32px;
    color: #7D7987;
    margin-bottom: 48px;
}

.consult-button {
    max-width: 200px;
    width: 100%;
    height: 56px;
    border-radius: 55px;
    background-color: #458FF6;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.15s;
}

.consult-button:hover {
    background-color: #2f6bbf;
}

.consult-button:active {
    background-color: #2f6bbfc6;
}

.consult-main-container-right-side {
    display: inline-block;
    text-align: right;
    width: 65%;
}

.consult-illustration {
    max-width: 693px;
    width: 100%;
}

.services-section {
    text-align: center;
    padding: 10px;
    background-image: url('../images/background-3.svg'), url('../images/background-2.svg');
    background-repeat: no-repeat;
    background-position: right 11% bottom 44.5%, left;
    margin-bottom: 221px;
}

.services-heading {
    font-size: 36px;
    font-weight: 700;
    line-height: 56px;
    margin-bottom: 26px;
}

.services-line {
    max-width: 56px;
    width: 100%;
    margin: 0 auto;
    height: 2px;
    background-color: black;
    margin-bottom: 33px;
    border-radius: 5px;
}

.services-paragraph {
    color: #7D7987;
    line-height: 30px;
    font-size: 18px;
    font-weight: 300;
    max-width: 952px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 80px;
}

.services-container {
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 72px;
}

.services-cards {
    max-width: 350px;
    width: 100%;
    height: 350px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.576);
    text-align: left;
    padding: 52px 0 47px 37px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 34px;
    margin-bottom: 37px;
}

.services-cards-img {
    margin-bottom: 27px;
}

.services-cards-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 56px;
}

.services-cards-paragraph {
    color: #7D7987;
    line-height: 28px;
    max-width: 266px;
    width: 100%;
}

.emergency {
    margin-bottom: 47px;
}

.learn-more-button {
    max-width: 200px;
    width: 100%;
    height: 56px;
    border-radius: 55px;
    border: 1.4px solid #458FF6;
    color: #458FF6;
    background-color: transparent;
    font-weight: 700;
    transition: all 0.15s;
    cursor: pointer;
}

.learn-more-button:hover {
    background-color: #2b69bf;
    border: 1.4px solid transparent;
    color: white;
}

.learn-more-button:active {
    background-color: #2b69bfb4;
}

.healthcare-providers-section {
    padding: 10px;
}

.healthcare-providers-section-main-container {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
}

.healthcare-main-container-left-side {
    display: inline-block;
    text-align: left;
    width: 65%;
}

.healthcare-illustration {
    max-width: 693px;
    width: 100%;
}

.healthcare-main-container-right-side {
    max-width: 445px;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    margin-top: 140px;
}

.healthcare-main-heading {
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    max-width: 481px;
    width: 100%;
    margin-bottom: 26px;
}

.healthcare-line {
    max-width: 56px;
    width: 100%;
    height: 2px;
    background-color: black;
    margin-bottom: 31px;
    border-radius: 10px;
}

.healthcare-paragraph {
    max-width: 450px;
    width: 100%;
    font-size: 21px;
    font-weight: 300;
    line-height: 32px;
    color: #7D7987;
    margin-bottom: 40px;
}